/* Desktop Styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}

.logo-con {
  flex: 1;
}

.nav-con {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.nav-con nav {
  display: flex;
  gap: 40px;
}

.nav-con a {
  color: rgb(48, 48, 48);
  text-decoration: none;
  font-weight: bold;
}

.nav-con a:hover {
  color: rgb(26, 98, 186);
  text-decoration: underline;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    padding-left: var(--left-spacing);
  }

  .logo-con {
    margin-left: var(--left-spacing); /* Linker Abstand für das Logo */
  }

  nav {
    padding-left: var(--left-spacing); /* Linker Abstand für Navigation */
  }

  .nav-con nav {
    flex-direction: column;
    gap: 20px;
  }
}
