/* Allgemeine Styles */
.line {
  position: relative;
  margin-bottom: 20px;
}

.line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: rgb(63, 61, 61);
}

.footer {
  display: flex;
  padding-left: 40px;
  align-items: center;
  background-color: #c4c4c4;
}

.footer-left {
  margin-top: 40px;
  flex: 2;
  padding-left: 20px;
}

.footer-right {
  flex: 1;
  height: 100%;
  width: 100%;
}

.footer-right img {
  height: 100%;
  max-height: 100%;
}

.logo-con img {
  max-width: 100%;
  height: auto;
  max-height: 100px;
  margin-bottom: 20px;
}

.contact-data {
  margin-bottom: 50px;
}

.contact-data p {
  font-size: 1rem;
  line-height: 1.7rem;
}

.copyright p {
  font-size: 0.7rem;
  margin-left: 50%;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  /* Konsistenter linker Abstand für alle relevanten Elemente */
  :root {
    --left-spacing: 20px;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding-left: var(--left-spacing);
  }

  .footer-left,
  .footer-right {
    margin-top: 20px;
    text-align: left;
    padding-left: var(--left-spacing); /* Konsistenter Abstand */
    width: 100%;
  }

  .footer-right img {
    max-width: 80%;
    height: auto;
    margin-left: var(--left-spacing);
  }

  .contact-data p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-align: left;
  }

  .copyright p {
    font-size: 0.7rem;
    text-align: left;
    margin-left: 17px;
  }
}
